# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de ambiente
.env

# Caches
.cache/
*.cache

# Diretório de build
dist/
build/

# Dependências locais do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários do editor
*.swp
*.swo
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Arquivos de depuração
*.pid

# Arquivos de banco de dados
*.sqlite
*.pgdata
*.dump
pg_dump*.sql

# Cobertura de testes
coverage/

# Docker
docker-compose.override.yml

# Arquivos de backup de PostgreSQL
*.backup
